---
import { getCollection } from "astro:content";
import { SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("now");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={`${post.data.title} | ${SITE_TITLE}`}
  description={post.data.description}
  image={post.data.image}
>
  <article class="space-y-4">
    <header class="space-y-2">
      <h1>{post.data.title}</h1>
      <p class="text-sm text-zinc-500">{formatDate(post.data.date)}</p>
    </header>
    <Content />
  </article>
</Layout>
